@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e5f0ff;
    --foreground: #11265a;
    --card: #ffffff;
    --card-foreground: #020817;
    --popover: #ffffff;
    --popover-foreground: #020817;
    --primary: #1143c0;
    --primary-foreground: #f8fafc;
    --secondary: #f1f5f9;
    --secondary-foreground: #0f1729;
    --muted: #f1f5f9;
    --muted-foreground: #65758b;
    --accent: #f1f5f9;
    --accent-foreground: #0f1729;
    --destructive: #ef4343;
    --destructive-foreground: #f8fafc;
    --border: #e1e7ef;
    --input: #e1e7ef;
    --ring: #2463eb;
    --radius: 0.5rem;

    --ui-gray: #8a99a7;

    --su-green: #0d9738;
    --su-purple: #784dc3;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: #f8fafc;
    --card: 222.2 84% 4.9%;
    --card-foreground: #f8fafc;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: #f8fafc;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: #0f1729;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: #f8fafc;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: #f8fafc;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: #f8fafc;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
